* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #2C3E50 ;
    --secondary-color: #E74C3C ;
    --background-color: #34495E ;
    --text-color: #ECF0F1 ;
  }

  .footer {
    position: relative;
    background: linear-gradient(90deg, #083058 70%, #1b2836 30%);
    color: var(--text-color); // Cor do texto
    margin-top: auto;
    width: 100%;
    overflow-x: hidden;
  
    .footerCopyright {
      position: relative;
      text-align: center;
      padding: 1rem;
      background: linear-gradient(90deg, #083058 70%, #1b2836 30%);
  
      p {
        font-size: 0.875rem;
        color: var(--text-color); // Cor do texto
      }
    }
  }

@media (max-width:768px) {
  .footer{
    background: #1b2836;

    .footerCopyright{
      background: #1b2836;
    }
  }
}