* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #2C3E50;
    --secondary-color: #E74C3C;
    --background-color: #34495E;
    --text-color: #ECF0F1;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.main {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #083058 70%, #1b2836 30%);
    transition: background 1s;
    width: 100vw;
    overflow-x: hidden;
    
    section {
        padding: 20px 0;
    }

    .profile {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 30px;
        min-height: 100vh;

        .desc {
            flex: 1;
            text-align: left;
            color: var(--text-color);
            width: 100%;
            max-width: 500px;
            margin-top: 1rem;

            .title {
                font-size: 3rem;
                color: rgb(158, 98, 7);
                font-weight: bold;
                line-height: 1.2;
            }

            .cButton {
                background-color: var(--primary-color);
                color: white;
                font-size: 1.1rem;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 8px;
                transition: background-color 0.3s ease, transform 0.3s ease;
                margin-top: 1rem;
                width: max-content;
                text-decoration: none;

                &:hover {
                    background-color: #1b2836;
                    transform: scale(1.05);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.5);
                }
            }
        }

        .image {
            flex: 1;
            width: 100%;
            max-width: 350px;
            display: flex;
            justify-content: center;
        }

        .arrow {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            animation: bounce 1s infinite;
            z-index: 10;
            color: white;
        }
        img {
            width: 100%;
            max-width: 200px;
            max-height: 18rem;
            border-radius: 10px;
            box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
            transition: transform 0.5s ease;
            object-fit: cover;
        }
    
        img:hover {
            transform: scale(1.1);
        }
    }


    h2 {
        color: var(--text-color);
        margin-bottom: 10px;
    }

    .parallax {
        height: 600px;
        background: linear-gradient(90deg, #083058 70%, #1b2836 30%);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .exp {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 20px;

        .timelineItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
            position: relative;
            width: 100%;
            max-width: 800px;
        }
    
        .timelineDate {
            background-color: var(--secondary-color);
            color: #fff;
            padding: 10px 20px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
            left: -30px;
        }
    
        .timelineContent {
            padding-left: 70px;
            background-color: #cecdcd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 100%;
        }
    
        .timelineContent h3 {
            color: var(--primary-color);
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    
        .timelineContent p {
            color: #333;
            font-size: 1rem;
            margin: 0;
        }
    
        .exp::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            border-left: 2px solid var(--secondary-color);
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    .conheca{
        color: rgb(158, 98, 7);;
        font-size: 28px;
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 8px; 
        padding: 20px; 
        margin: 20px auto; 
      
        .info{
            width: 50%;
            text-align: justify;
            padding-right: 20px;

            .softSkills {
                margin-top: 20px;
              
                .softTitle{
                    font-size: 24px;
                    color: rgb(158, 98, 7);;
                    margin-bottom: 1rem;
                }

                ul {
                  list-style: none; 
                  padding: 0;
                  display: grid;
                  grid-template-columns: repeat(2, 1fr); 
                  gap: 10px; 
              
                  li {
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    color: #ffffff; 
                    background: #34495E; 
                    border-radius: 8px; 
                    padding: 10px;
                    text-align: center;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
                    transition: transform 0.3s ease, background-color 0.3s ease;
              
                    &:hover {
                      transform: translateY(-5px); 
                      color: #000;
                    }
                  }
                }
              
                @media (max-width: 600px) {
                  ul {
                    grid-template-columns: 1fr;
                  }
                }
              }
        }

        .infoImage{
            display: flex;
            text-align: center;
            justify-content: center;
            margin: auto;
            width: 50%;
            
            img{
                width: 90%;
                max-width: 500px;
                filter: grayscale(0.7);
                border-radius: 9px;
                box-shadow: 2px 1px 10px 1px rgb(29, 29, 29);
            }

        }
        
        p {
          font-family: 'Roboto', sans-serif; 
          font-size: 1.2rem; 
          line-height: 1.6; 
          color: #ffffff; 
          margin-bottom: 1.5rem; 
      
          &:last-child {
            margin-bottom: 0; 
          }
        }
      
      
        // Responsividade para telas menores
        @media (max-width: 600px) {
          padding: 15px; // Reduzir espaçamento interno
          p {
            font-size: 1rem; // Texto menor
          }
        }
      }

    .tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 60%;
        justify-content: center;
        margin: auto;
    }

    .contactSection {
        padding: 40px 20px;
        color: #ffffff;
        text-align: center;
      
        h2 {
          font-size: 2rem;
          margin-bottom: 20px;
        }
      
        .contactList {
          list-style: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
      
          li {
            flex: 1 1 calc(50% - 40px); // Adapta o layout para 2 colunas em telas maiores
            max-width: 200px;
      
            @media (min-width: 768px) {
              flex: 1 1 calc(25% - 40px); // Adapta para 4 colunas em telas maiores
            }
          }
      
          .contactItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background: #2a2a2a;
            border-radius: 12px;
            text-decoration: none;
            color: #ffffff;
            transition: background 0.3s ease, transform 0.3s ease;
      
            &:hover {
              background-color: #1b2836;
              transform: translateY(-5px);
            }
      
            svg {
              font-size: 2rem;
              margin-bottom: 10px;
              color: #ffffff;
              transition: color 0.3s ease;
      
            }
      
            span {
              font-size: 1rem;
              font-weight: bold;
            }
          }
        }
      }

    .footer {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

::-webkit-scrollbar {
    display: none;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@media (max-width: 768px) {
    .main{
        

        .profile{
            display: flex;
            flex-direction: column;
            width: 100vw;
            overflow-x: hidden;
        }

        .about{
            display: flex;
            flex-direction: column;
            width: 100%;

            .info{
                width: 100%;
            }

            .infoImage{
                display: none;
            }
        }
    }
    
}